[Desktop Entry]
Name=Fresh Fruits Market
Comment=Cashier Receipt System with MongoDB
Exec=/usr/bin/python3 /home/wierdo/Desktop/Programs/marketreceipt.py
Icon=applications-office
Terminal=false
Type=Application
Categories=Office;Finance;
StartupNotify=true
Path=/home/wierdo/Desktop/Programs
